html {
  scroll-behavior: smooth;
}

#app,
.button_wrapper {
  width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

button {
  width: 16px;
  height: 16px;
  width: 19.37px;
  height: 19.37px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

::placeholder {
  color: rgb(92, 103, 118);
  font-weight: normal;
  font-style: italic;
}

div[data-answer-index] {
  display: flex;
  gap: 9px;
  align-items: center;
  border-bottom: 1px solid rgb(238, 243, 247);
}

.alert {
  width: 99%;
  height: 56px;
  display: flex;
  border: 1px solid rgb(249, 250, 252);
  margin-bottom: 16px;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 4px 6px 0px rgba(191, 200, 213, 0.5);
  padding: 12px;
  color: rgb(50, 57, 69);
  font-size: 12px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: normal;
}

.alert.isHidden {
  display: none;
}

.alert > span:nth-child(2) {
  margin-left: 12px;
}

i.fas {
  color: red;
  background: rgb(255, 241, 240);
  height: 16px;
  width: 16px;
  display: inline-block;
  font-size: 20px;
}

.question {
  width: 991px;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid rgb(231, 235, 239);
}

.question__header {
  width: 991px;
  height: 32px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 3px;
  border-radius: 1px;
  border: 1px solid rgb(231, 235, 239);
}

.question__header--title,
.question__header--index {
  color: rgb(14, 104, 249);
  font-size: 14px;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: bold;
  display: inline-block;
  width: 9px;
}

.question__body--text {
  color: rgb(50, 57, 69);
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  width: 917px;
  padding-left: 6px;
}

.question:first-child button.question__body--up {
  color: blanchedalmond;
  pointer-events: none;
}

.question:last-child button.question__body--down {
  color: blanchedalmond;
  pointer-events: none;
}

.answer__header {
  display: flex;
  height: 32px;
  align-items: center;
}

.answer__header--index {
  color: rgb(143, 152, 169);
  font-size: 14px;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: bold;
  display: inline-block;
}

.answer__body {
  display: flex;
  flex: 1 1 auto;
  gap: 3px;
}

.answer__body--text {
  color: rgb(50, 57, 69);
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: normal;
  flex-basis: 100%;
  padding-left: 6px;
}

.answer__body--add {
  background: rgb(249, 250, 252);
  border: none;
  border-bottom: 1px solid rgb(238, 243, 247);
}

.answer__body--add,
.answer > div,
.answer div[data-answer-index] {
  width: 100%;
  height: 32px;
}

.answer > div:first-child .answer__body--up {
  color: rgb(191, 200, 213);
  pointer-events: none;
}

.answer > div:last-child .answer__body--down {
  color: rgb(191, 200, 213);
  pointer-events: none;
}

.question__body--add {
  background-color: rgb(14, 104, 249);
  border: 1px solid rgb(249, 250, 252);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 0px 2px 6px 0px rgba(14, 104, 249, 0.3);
  border-radius: 500px;
  height: 32px;
  width: 144px;
  margin: auto;
}

.question__body--add[disabled] {
  background-color: white;
  color: rgba(14, 104, 249, 0.3);
  cursor: default;
}
